<div class="container-fluid">
  <div class="row my-3 text-center">
    <h2>Regisztráció</h2>
  </div>
  <div class="row justify-content-center text-cetner">
    <form class="col-12 col-sm-8 mt-3" type="submit">
      <div class="row">
        <div class="col-6">
          <label class="form-label pt-1">Vezetéknév:</label>
          <input class="form-control" type="text" placeholder="pl.: Kiss" required/>
        </div>
        <div class="col-6">
          <label class="form-label pt-1">Keresztnév:</label>
          <input class="form-control" type="text" placeholder="pl.: Béla" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="form-label pt-1">E-mail cím:</label>
          <input class="form-control" type="email" placeholder="valami@gmail.com" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="form-label pt-1">Jelszó:</label>
          <input class="form-control" type="password" placeholder="minimum 6 karakter" required minlength="6"/>
        </div>
        <div class="col-6">
          <label class="form-label pt-1">Jelszó újra:</label>
          <input class="form-control" type="password" placeholder="minimum 6 karakter" required minlength="6"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="form-label pt-1">Telefonszám:</label>
          <input class="form-control" type="text" placeholder="pl.: 06123456789" required/>
        </div>
      </div>
      <div class="row text-center justify-content-center mb-4">
        <button class="col-6 btn btn-red mt-4" type="submit">
          Regisztráció
        </button>
      </div>
    </form>
  </div>
</div>
