.btn-red{
  background-color: rgb(201, 26, 26);
  color: white;
}

.register{
  margin: 6rem 0;
}

.error{
  height: 2rem;
  .error-message{
    border: 1px solid red ;
    border-radius: 1rem;
  }
}
