<nav class="navbar-expand-md p-0 p-md-0 col-12 navbar header">
  <button
    class="navbar-toggler mx-3 my-2 collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="row nav-menu collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="nav navbar-nav justify-content-md-between">
      <li class="col-md-1 nav-item d-flex justify-content-md-center justify-content-center"></li>
      <li class="col-md-auto nav-item d-flex justify-content-md-center justify-content-center">
        <a class="nav-link nav-top-link" [routerLink]="['/']">Kezdőlap</a>
      </li>
      <li class="col-md-1 nav-item d-flex justify-content-md-end justify-content-center dropdown">
        <a class="nav-link nav-top-link" [ngClass]="{'dropdown-toggle' : loggedIn}" role="button" id="dropdownMenuLink"
         data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="loggedIn ? [] : ['/belepes']">{{loggedIn ? username : 'Bejelentkezés'}}</a>
        <ul *ngIf="loggedIn" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" [routerLink]="['/profil']">Profil</a></li>
          <li><a class="dropdown-item" [routerLink]="['/beallitasok']">Beállítások</a></li>
          <li><a class="dropdown-item" [routerLink]="['/']" (click)="signOut()">Kijelentkezés</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
