<nav class="navbar-expand-md p-0 p-md-0 col-12 navbar header">
  <button
    class="navbar-toggler mx-3 my-2 collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="row nav-menu collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="nav navbar-nav">
      <li class="col-md-6 nav-item d-flex justify-content-md-end justify-content-center">
        <a class="nav-link nav-top-link" [routerLink]="['']">Kezdőlap</a>
      </li>
      <li class="col-md-4 nav-item d-flex justify-content-md-start justify-content-center">
        <a class="nav-link nav-top-link" [routerLink]="['favorites']">Kedvencek</a>
      </li>
      <li class="col-md-2 nav-item d-flex justify-content-md-end justify-content-center">
        <a class="nav-link nav-top-link" [routerLink]="[loggedIn ? 'profil' : 'belepes']">{{getLoggedIn() ? username : 'Bejelentkezés'}}</a>
      </li>
    </ul>
  </div>
</nav>
